.main {
    margin: 90px 156px;
    background-color: red;
    height: 1000px;

    .top-main-container {
        width: 100%;
        height: 78px;
        background-color: gray;
    }

    .middle-main-container {
        .container-cards {
            display: grid;
            grid-columns: 3/1;
            .card {
                width: 303px;
                height: 279px;
                background-color: #C4C4C4;
                border-radius: 10px;
                width: 303px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: flex-end;

                .card-down-block {
                    width: 100%;
                    height: 73px;
                    display: flex;
                    align-items: flex-end;
                    border-bottom-left-radius: 10px;
                    border-bottom-right-radius: 10px;
                    background: linear-gradient(253.58deg, #FFC000 1.55%, #FF8A00 95.8%);
                }
            }
        }
    }
}